* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: rgb(214, 212, 212);
  --red: rgb(218, 70, 109);
  --blue: rgb(108, 137, 240);
}

body {
  background: rgb(69, 99, 67);
  font-size: 2rem;
  color: var(--white);
  font-family: "Gochi Hand", cursive;
  text-shadow: 0px 0px 3px var(--white);
  letter-spacing: 3px;
  height: 100vh;

  display: grid;
  justify-content: center;
  align-content: space-around;
}

h1 {
  margin: 0;
  position: relative;
  left: 40px;
  font-size: 6rem;
  transform: rotate(-3deg);
}

.round-winner-display {
  /* position: absolute;
  right: 10%;
  top: 30%; */
  font-size: 4rem;
  transform: rotate(4deg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  width: 500px;
  height: 500px;
  display: inline-grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  /* min-height: 0;
  min-width: 0; */
}

@media (max-width: 550px) {
  h1 {
    position: initial;
    margin: auto;
    font-size: 15vw;
  }

  .round-winner-display {
    font-size: 12vw;
  }

  .container {
    width: 80vw;
    height: 80vw;
  }
}

.square {
  width: 100%;
  height: 100%;
  border: solid 5px var(--white);
  font-size: 8rem;
  box-shadow: 0px 0px 3px var(--white);
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  /* min-width: 0; */

  display: flex;
  justify-content: center;
  align-items: center;
}

#reset {
  margin: 10px auto;
  width: 80%;
  border-radius: 20px;
  border: none;
  padding: 0px 30px;
}

.name-instructions {
  margin: auto;
}

.red {
  color: var(--red);
  text-shadow: 0px 0px 3px var(--red);
}

.blue {
  color: var(--blue);
  text-shadow: 0px 0px 3px var(--blue);
}

.named {
  position: relative;
  top: 40px;
}

#s0 {
  border-top-left-radius: 15px;
}

#s2 {
  border-top-right-radius: 15px;
}

#s6 {
  border-bottom-left-radius: 15px;
}

#s8 {
  border-bottom-right-radius: 15px;
}

.players {
  height: 150px;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.name {
  font-size: 0.8em;

  display: grid;
  justify-items: center;
}

.newName {
  position: absolute;
  font-size: 3rem;
  /* margin-bottom: -20px; */
}

input {
  appearance: none;
  border: none;
  width: 190px;
  margin-bottom: 5px;
  background: transparent;
  color: var(--white);
  text-align: center;
  text-shadow: 0px 0px 3px var(--white);
  letter-spacing: 3px;
}

input::placeholder {
  text-shadow: none;
}

input:focus {
  outline: none;
}

.name > div:last-child {
  font-size: 5rem;
}

form {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#one,
#two {
  padding: 5px 5px 10px;
  font-size: 1rem;
  height: 17px;
  position: absolute;
  top: 62px;
  border-radius: 15px;
  border: none;
  background: var(--white);
}

#reset:hover {
  background: rgb(192, 192, 192);
  transition: 100ms;
}

#reset:active {
  background: rgb(143, 143, 143);
}
